@PTFPJP: tax-ptfpjp;

.@{PTFPJP} {
  width: 100%;

  &-container {
    width: 780px;
    margin: 0 auto;
    background-color: rgba(246,249,255,0.59);
    padding-left: 89px;
    padding-right: 89px;
    padding-bottom: 34px;
    border:4px solid rgba(227,231,240,1);
  }
  &-header {
    width: 194px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    color: #B38D4A;
    padding-bottom: 16px;

    &-deco {
      border: none;
      width: 100%;
      border-top: 1px solid #B38D4A;
      height: 3px;
      border-bottom: 1px solid #B38D4A;
      margin-top: 6px;
      margin-bottom: 6px;
    }
    &-title {
      color: #B38D4A;
      font-size: 18px;
    }
  }
  &-columBox {
    width: 100%;
    .clearfix();
    // border: 1px solid green;

    &-colum {
      width: 50%;
      float: left;
      // border: 1px solid green;
    }
    &-cellBox {
      width: 100%;
      .clearfix();
      margin-top: 18px;

      &-cell1 {
        width: 86px;
        float: left;
        .justifyText();
        color: #B38D4A;
      }
      &-cell2 {
        width: 190px;
        float: left;
        padding-left: 10px;
        position: relative;
      }
      &-cell3 {
        width: 104px;
        float: left;
        .justifyText();
        color: #B38D4A;
      }
      &-input {
        .tax-input(@width: 180px; @color: #333333);
      }
      &-input2 {
        .tax-input(@width: 180px; @color: #333333; @lineColor: #F0F1F3; @borderH: 2px);
      }
      &-line-text {
        .tax-line-text(@width: 308px; @color: #333333)
      }
      &-deco {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 14px;
      }
    }
    &-columPadding {
      padding-left: 21px;
    }
    &-cellTop {
      margin-top: 101px;
    }
  }
  &-tableBox {
    padding-top: 10px;

    &-table {
      border-collapse: collapse;
      width: 100%;
      border: none;
      &-borderTop {
        border-top: 1px solid #B38D4A !important;
      }
      &-borderLeft {
        border-left: 1px solid #B38D4A !important;
      }
      &-borderRight {
        border-right: 1px solid #B38D4A !important;
      }
      &-borderBottom {
        border-bottom: 1px solid #B38D4A !important;
      }
      &-trbg {
        background-color: rgba(247,244,235,1);
      }
    }
    &-line {
      height: 1px;
      border-top: 1px solid #B38D4A;
      margin-top: -1px;
    }
    th {
      font-weight: normal;
    }
    td, th {
      border: 1px solid #DCD0B1;
      line-height: 37px;
      text-align: center;
    }

  }

}